main
	div.inner
		p(data-js="typing") Hello world.
		p(data-js="typing") I am interested in many things.
		p(data-js="typing") I want to get to know you.
		p(data-js="typing") I am doing Twitter with GitHub, so please follow me if you like.
		p(data-js="typing") Thanks.
		p.cursor
